/* styles.css */
#gallery {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; /* Start hidden */
    transition: opacity 2s ease; /* Duration of fade */
    will-change: opacity;
}

.fade-in {
    opacity: 1; /* Fade in */
}

.fade-out {
    opacity: 0; /* Fade out */
}

.banner {
    width: 100vw;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: hidden;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffeb3b;
    display: flex;
    -webkit-text-stroke: 1px black; /* Width and color of the outline */
}

.banner-text {
    display: inline-block;
    min-width: 100%;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    animation: loop 10s linear infinite; /* Adjust duration (20s) as needed */
}

/* All other things being the same, change these rules:*/
.banner .banner-text {
    position: fixed;
}
.banner .banner-text.banner-2 {
    transform: translateX(-100%);
    animation-delay: 5s; 
}
@keyframes loop {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(100%);}
}